**/ckpts
**/__pycache__
**/runs
**/_ckpts
**/dilatedA/**
**/dilresA/**
**/conf_logs
**/pretrained_models
**/ShanghaiTech/**
**/temp/**
**/shanghaitech.zip
**/examples
demo.md
demo**.pdf
**/UCF_CC_50
**.zip